.aboutUs {
  background-color: #ebebeb;
  padding: 20px;
}

.main {
  background-color: white;
  border-radius: 8px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.section {
  display: grid;
  align-items: center;
}

.section:nth-child(1) {
  grid-template-columns: 1fr 3fr;
}

.section:nth-child(2) {
  grid-template-columns: 3fr 1fr;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo img {
  border-radius: 10px;
}

.blockquote {
  background: #e1e1e1;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
  border-radius: 5px;
}
.blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
.blockquote p {
  display: inline;
}
