.main {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: black;
  color: white;
  padding: 40px 20px;
}

.logoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.logoContainer img {
  width: 100px;
}

.social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}

.quoteContainer {
  display: flex;
  gap: 10px;
  flex-direction: column;
  max-width: 300px;
}

@media screen and (max-width: 1050px) {
  .main {
    flex-direction: column;
    gap: 30px;
  }
  .quoteContainer {
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .logoContainer {
    gap: 20px;
  }
}
