.main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-content: space-around;
  background-color: black;
  border-top: 2px solid white;
  color: white;
  padding: 10px 30px 20px 30px;

  .quoteContainer {
    display: flex;
    gap: 10px;
    flex-direction: column;
    max-width: 300px;

    h1 {
      text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
        1px 1px 0 #000;
      font-family: "Comfortaa", cursive;
    }
    p {
      font-family: "Comfortaa", cursive;
    }
  }

  .logoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

    img {
      width: 170px;
    }
    h1 {
      text-transform: uppercase;
    }
    p {
      color: rgb(157, 157, 157);
    }
  }

  .rightSideContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-direction: column;

    button {
      background-color: white;
      padding: 10px 20px;
      border-radius: 5px;
      color: black;
      letter-spacing: 2px;
      text-transform: uppercase;
      font-weight: 500;
      border: none;
      cursor: pointer;
    }

    .social-links {
      a {
        display: inline-block;
        height: 40px;
        width: 40px;
        background-color: rgba(202, 201, 201, 0.311);
        margin: 0 10px 10px 0;
        text-align: center;
        line-height: 40px;
        border-radius: 50%;
        color: #ffffff;
        transition: all 0.5s ease;

        &:hover {
          color: #24262b;
          background-color: #ffffff;
        }
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  .main {
    display: flex;
    flex-direction: column;
    padding: 20px 0px;
    gap: 20px;
  }
}
