.main {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 30vw;
  cursor: pointer;

  h2 {
    color: black;
    font-weight: 500;
  }

  img {
    border-radius: 3px;
    max-width: 380px;
    height: 250px;
    object-fit: cover;
    aspect-ratio: 16 / 9;
  }

  .dateTime {
    color: rgb(94, 94, 94);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 2px;

    i {
      color: black !important;
      margin-right: 8px;
    }
  }
}

@media screen and (max-width: 950px) {
  .main {
    max-width: min-content;
  }
}

@media screen and (max-width: 830px) {
  .main img {
    max-width: 430px;
  }
}

@media screen and (max-width: 430px) {
  .main img {
    max-width: 320px;
  }
}

@media screen and (max-width: 300px) {
  .main img {
    max-width: 230px;
    object-position: left;
  }
}
