.post {
  background-color: #ededed;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;

  .main {
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-radius: 9px;
    background-color: white;

    .postInfo {
      position: relative;

      .image {
        height: 450px;
        border-radius: 5px;
        background-repeat: no-repeat !important;
        background-size: cover !important;
      }

      .postInfoText {
        position: absolute;
        top: 80%;
        padding: 10px 40px;
        display: flex;
        gap: 5px;
        flex-direction: column;
        transform: translateY(-50%);

        .postDetails {
          display: flex;
          color: white;
          gap: 10px;
          align-items: center;

          i {
            color: white;
            margin: 0px 5px;
          }
        }
      }
    }

    .title {
      color: #fff;
      letter-spacing: 1.5px;
      font-weight: 500;
    }

    .creationTime span {
      color: #fff;
      font-weight: 500;
    }

    .hr {
      margin: 15px 0px;
    }
  }

  .editBtn {
    background-color: #031690;
    color: white;
    font-weight: 500;
    cursor: pointer;
    font-size: 17px;
    align-self: center;
    letter-spacing: 2px;
    padding: 5px 10px;
    max-width: 50vw;
    border-radius: 5px;
    width: 100%;
    border: none;
  }
}

.writeCommentContainer {
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-radius: 9px;
  background-color: white;

  h3 {
    letter-spacing: 1.2px;
    font-weight: 700;
    color: rgb(92, 92, 92);
  }

  .field {
    display: flex;
    flex-direction: column;
    gap: 10px;

    label {
      font-weight: 600;
    }

    input {
      min-width: 400px;
      padding: 8px;
      border-radius: 3px;
    }

    input,
    textarea {
      border: 1.5px solid rgb(190, 190, 190);
      padding: 10px;
    }
  }

  .userInputs {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    flex-wrap: wrap;
  }

  .submitBtn {
    background-color: rgb(19, 143, 245);
    border-radius: 3px;
    padding: 8px 10px;
    color: white;
    border: none;
    font-weight: 600;
    max-width: 150px;
    cursor: pointer;
  }
}

.comments {
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-radius: 9px;
  background-color: white;

  .comment {
    background-color: rgba(228, 228, 228, 0.718);
    padding: 5px 15px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;

    position: relative;

    i {
      position: absolute;
      right: -5px;
      top: -5px;
      font-size: 20px;
      font-weight: 600;
      cursor: pointer;
    }

    h4 {
      font-weight: 500;
    }
  }
}

@media screen and (max-width: 770px) {
  .post {
    padding: 0px;
    background-color: white;
  }
}
